In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect("author_book_publisher.db")

# Load the data into a DataFrame
df_book = pd.read_sql_query("SELECT * from book", con)
print(df_book)

df_author = pd.read_sql_query("SELECT * from author", con)
print(df_author)

df_publisher = pd.read_sql_query("SELECT * from publisher", con)
print(df_publisher)

con.close()

   book_id  author_id                                              title
0        1          1                                         Foundation
1        2          2                                     The Good Earth
2        3          3                           The Hunt For Red October
3        4          3                                      Patriot Games
4        5          4                                                 It
5        6          4                                          Dead Zone
6        7          4                                        The Shining
7        8          5  Tinker, Tailor, Solider, Spy: A George Smiley ...
8        9          6                                 The Silent Patient
9       10          7                                     Into The Abyss
   author_id first_name    last_name
0          1      Isaac       Asimov
1          2      Pearl         Buck
2          3        Tom       Clancy
3          4    Stephen         King
4          5       John     Le Carre
5          6       Alex  Michaelides
6          7      Carol       Shaben
   publisher_id                  name
0             1          Random House
1             2      Simon & Schuster
2             3               Berkley
3             4  Penguin Random House